// If you want to override materialize sass variables you can uncomment the following:
// @import "{poetic:materialize-scss}/sass/components/_color.scss";
// $primary-color: color("blue", "lighten-2");

// import main scss file
@import "{poetic:materialize-scss}/sass/materialize.scss";

$primary-color: color("materialize-blue", "lighten-3") !default;

body {
  margin: 0 0;
  font-family: Roboto, sans-serif;
  height: 100%;
  position: fixed;
  top: 0px;
  left:0px;
  bottom: 0px;
  right: 0px;
  background: #EEE;
}

.container {
}
